<style>
    #help-dropdown {
        padding: 0;
    }
    .dropdown-toggle {
        display: flex;
        align-items: center;
        padding: 32px 35px;
        cursor: pointer;
        background-color: var(--background-grey);
        border: none;
    }
    .dropdown-toggle i {
        margin-left: 8px;
    }
    .selected {
        border: 4px solid var(--nhlbi-red);
    }
    .nav-dropdown-menu.open {
        display: block;
    }
    .nav-dropdown-menu {
        list-style-type: none;
        color: rgb(51,51,51);
        position: absolute;
        top: 0%;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
        display:none;
    }
    .nav-dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
    .nav-dropdown-menu > li > a:hover,
    .nav-dropdown-menu > li > a:focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
    }
    #top-header {
        display: flex;
        flex-direction: row;
        background-color: #f4f4f6;
        padding: 10px;
    }
     #top-header img {
        padding-top: 0px;
     }
    #top-header .nav-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-left: 10px;
    }
    @media only screen and (max-width: 1470px) {
        #top-header img {
            padding-top: 0px;
            max-width: 500px;
            height: fit-content;
        }
    }

     @media only screen and (max-width: 990px) {
        #top-header {
            display: flex;
            flex-direction: column;
            background-color: #f4f4f6;
            padding: 10px;
        }
    }
</style>
<header id="top-header" class="space-out">
    <img class="logo-img" src="{{logoPath}}" tabindex="0" title="BioData Catalyst Powered by PIC-SURE">
    <nav id="header-tabs" class="nav-menu" role="navigation" aria-label="Main Navigation. You are on the main navigation of Pic-sure. Please use the arrow keys to navigate through the tabs. Use Enter or space to select the tab." tabindex="0">
        {{#contains privileges 'FENCE_PRIV_OPEN_ACCESS'}}
            <a class="header-btn header-navigation" data-href="/picsureui/dataAccess" href="#" id="data-access-btn" tabindex="-1" title="Explore" aria-label="Explore">Data Access Dashboard</a>
        {{/contains}}
        {{#contains privileges "FENCE_AUTHORIZED_ACCESS"}}
            <a class="header-btn authorized-access-visible header-navigation" data-href="/picsureui/queryBuilder" href="#" id="query-builder-btn" tabindex="-1" title="Authorized Access" aria-label="Authorized Access">Authorized Access</a>
        {{/contains}}
        {{#contains privileges 'FENCE_PRIV_OPEN_ACCESS'}}
            <a class="header-btn header-navigation" data-href="/picsureui/openAccess#" href="#" id="open-access-btn" tabindex="-1" title="Open Access" aria-label="Open Access">Open Access</a>
            <a id="api-btn" data-href="/picsureui/api" class="header-navigation header-btn authenticated-visible" href="#" tabindex="-1" title="API" aria-haspopup="true" aria-label="API">API</a>
            <button data-intro="#help-header-button" data-sequence="14" class="dropdown-toggle nav-dropdown header-btn authenticated-visible" aria-expanded="false" id="help-dropdown-toggle" tabindex="-1" title="Help" aria-label="Help dropwdown" aria-controls="help-menu-list">
                Help <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button>
            <ul id="help-menu-list" class="nav-dropdown-menu" tabindex="-1">
                {{#if videoLink}}<li id="video-demo-option" class="dropdown" aria-label="Video Demonstration, clicking here will open a link in a new tab"><a href="{{{videoLink}}}">Video Demonstration</a></li>{{/if}}
                {{#if pdfLink}}<li id="user-guide-option" class="dropdown" aria-label="User Guide, clicking here will open a link in a new tab"><a href="{{{pdfLink}}}">User Guide</a></li>{{/if}}
                {{#if jupyterExampleLink}}<li id="jupyter-examples-option" class="dropdown" aria-label="Jupyter Examples, clicking here will open a link  in a new tab"><a href="{{{jupyterExampleLink}}}">Jupyter Examples</a></li>{{/if}}
                {{#if documentationLink}}<li id="documentation-option" class="dropdown" aria-label="BioData Catalyst Documentation, clicking here will open a link  in a new tab"><a href="{{{documentationLink}}}">BioData Catalyst Documentation</a></li>{{/if}}
                {{#if helpLink}}<li id="contact-us-option" class="dropdown" aria-label="Contact Us link, clicking here will open a link in a new tab"><a href="{{{helpLink}}}">Contact Us</a></li>{{/if}}
            </ul>
            <a href="#" id="logout-btn" class="header-btn authenticated-visible" tabindex="-1" title="Log Out" aria-label="Log Out">Log Out</a>
        {{/contains}}
    </nav>
</header>
