<div class="row header-row">
	<img class="logo-img" src="{{logoPath}}">
</div>
<div class="row" style="margin-top: 6px">
    <span class="col-md-1"></span>
    {{#not_empty applications}}
    <div class="col dropdown" id="applications-dropdown">
        <button class="btn btn-secondary dropdown-toggle header-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Applications</button>
        <ul class="dropdown-menu" role="menu">
        {{#each applications}}
            <li class="dropdown"><a id="{{this.uuid}}" href="{{this.url}}">{{this.name}}</a></li>
        {{/each}}
        </ul>
    </div>
    {{/not_empty}}

    {{#contains privileges "SUPER_ADMIN"}}
        <div class="col dropdown btn btn-default header-btn super-admin-visible" id="super-admin-dropdown">
            <span class="dropdown-toggle col-md-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Super Admin Console</span>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown"><a id="appMgmt-super-admin" class="header-navigation" data-href="/psamaui/applicationManagement" href="#">Applications</a></li>
                <li class="dropdown"><a id="connMgmt-super-admin" class="header-navigation" data-href="/psamaui/connectionManagement">Connections</a></li>
                <li class="dropdown"><a id="privMgmt-super-admin" class="header-navigation" data-href="/psamaui/privilegeManagement">Privileges</a></li>
                <li class="dropdown"><a id="roleMgmt-super-admin" class="header-navigation" data-href="/psamaui/roleManagement">Roles</a></li>
            </ul>
        </div>
    {{/contains}}
    {{#contains privileges "FENCE_AUTHORIZED_ACCESS"}}
        <a class="col btn btn-default header-btn authorized-access-visible header-navigation" data-href="/picsureui/queryBuilder" href="#" id="query-builder-btn">Authorized Access</a>
    {{/contains}}
    {{#contains privileges 'FENCE_PRIV_OPEN_ACCESS'}}
        <a class="col btn btn-default header-btn header-navigation" data-href="/picsureui/openAccess" href="#" id="open-access-btn">Open Access</a>
        <a class="col btn btn-default header-btn header-navigation" data-href="/picsureui/dataAccess" href="#" id="data-access-btn">Data Access</a>
    {{/contains}}
    {{#contains privileges 'ADMIN'}}
        <a class="col btn btn-default header-btn header-navigation" id="admin-btn" data-href="/psamaui/userManagement" href="#">Users</a>
    {{/contains}}
    {{#contains privileges 'FENCE_PRIV_OPEN_ACCESS'}}
        <a id="user-profile-btn" class="col btn btn-default header-btn authenticated-visible" href="#">User Profile</a>
        <div class="col dropdown btn btn-default header-btn authenticated-visible" id="help-dropdown">
            <span class="dropdown-toggle col-md-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</span>
            <ul class="dropdown-menu" role="menu">
                {{#if videoLink}}<li class="dropdown"><a href="{{{videoLink}}}">Video Demonstration</a></li>{{/if}}
                {{#if pdfLink}}<li class="dropdown"><a href="{{{pdfLink}}}">User Guide</a></li>{{/if}}
                {{#if jupyterExampleLink}}<li class="dropdown"><a href="{{{jupyterExampleLink}}}">Jupyter Examples</a></li>{{/if}}
                {{#if helpLink}}<li class="dropdown"><a href="{{{helpLink}}}">Contact Us</a></li>{{/if}}
        </div>
        <a id="logout-btn" class="col btn btn-default header-btn authenticated-visible">Log Out</a>
    {{/contains}}

</div>
