<div class="filter-modal-container">
    <div class="row">
        <div class="flex-container space-out">
            <ul class="var-info">
                <li>Study Name: {{studyName}} ({{searchResult.result.studyId}})</li>
                <li>Variable Name: {{searchResult.result.metadata.name}}</li>
                <li>Variable Accession: {{searchResult.result.varId}}</li>
                <li>Variable Description: {{searchResult.result.metadata.description}}</li>
            </ul>
            <div class="button-container">
                <button id="add-filter-button" class="btn btn-primary" tabindex="1099999">Add Filter to Query</button>
            </div>
        </div>
        <div class="value-container">
            {{#each searchResult.result.values}}
                <input class="categorical-filter-input" type="checkbox" value="{{this}}" tabindex="{{tabindex @index}}"/>{{this}} <br/>
            {{/each}}
        </div>
    </div>
</div>