<style>
    .focused-filter-container {
        border-top: 1px solid;
        border-width:4px !important;
        border-color:red !important;
    }
    .filter-container {
        border:solid;
        border-width:1px;
        border-radius:0.5em;
    }
    .filter-list-action-btn {
        font-size: 1.5em;
        margin-left: 2px;
        cursor: pointer;
    }
</style>
<div class="panel">
    <div class="panel-heading">
        Added Variable Filters
    </div>
    <div id="filter-list" class="panel-body" tabindex=0 aria-activedescendent="">
    {{#each activeFilters}}
        {{#if datatable}}
            <div class="filter-container" id="{{this.searchResult.result.metadata.columnmeta_var_group_id}}">
                <div class="filter-header">
                    <div>
                        Filter: 
                    </div>
                    <div class="filter-buttons-container">
                        <i class="fa fa-info-circle info-filter filter-list-action-btn" title="Variable information" data-index="{{@index}}"></i>
                        <i class="fa fa-times-circle remove-filter filter-list-action-btn" title="Remove Filter" data-index="{{@index}}"></i>
                        <i class="fa fa-pencil-square-o edit-filter filter-list-action-btn" title="Edit Filter" data-index="{{@index}}"></i>
                    </div>
                </div>
                <div class="filter">
                    {{#if this.searchResult.result.metadata.columnmeta_name}}
                        <p class="var-name">{{this.searchResult.result.metadata.columnmeta_name}}</p>
                    {{/if}}
                    <p class="study">Study: {{this.searchResult.result.metadata.columnmeta_study_id}}</p>
                    {{#if this.searchResult.result.metadata.columnmeta_var_group_id}}
                        <p>Datatable ID: {{this.searchResult.result.metadata.columnmeta_var_group_id}}</p>
                    {{/if}}
                    {{#if this.searchResult.result.metadata.columnmeta_var_group_description}}
                        <p>Datatable Name: {{this.searchResult.result.metadata.columnmeta_var_group_description}}</p>
                    {{/if}}
                    {{#if topmed }}
                        {{#if this.searchResult.result.metadata.columnmeta_var_group_description}}
                            <p class="table">Table Name: {{this.searchResult.result.metadata.columnmeta_var_group_description}}</p>
                        {{/if}}
                    {{/if}}
                </div>
                <p class="value">{{variables.length}} variables selected. Participants with any value recorded for any of these variables will be included if they match all other defined filters</p>
            </div>
        {{else if genomic}}
            <div class="filter-container with-wrap" id="genomic">
                <div class="filter-header">
                    <div>
                        <div>Genomic Filter</div>
                    </div>
                    <div class="filter-buttons-container">
                        <i class="fa fa-times-circle remove-filter filter-list-action-btn" title="Remove Filter" data-index="{{@index}}"></i>
                        <i class="fa fa-pencil-square-o edit-filter filter-list-action-btn" title="Edit Filter" data-index="{{@index}}"></i>
                    </div>
                </div>
                {{> genomic-filter-partial filters=variantInfoFilters}}
            </div>
        {{else}}
            <div class="filter-container" id="{{this.searchResult.result.metadata.columnmeta_var_id}}">
                    <div class="filter-header">
                        <div>
                            Filter: 
                        </div>
                        <div>
                            <i class="fa fa-info-circle info-filter filter-list-action-btn" title="Variable information" data-index="{{@index}}"></i>
                            <i class="fa fa-times-circle remove-filter filter-list-action-btn" title="Remove Filter" data-index="{{@index}}"></i>
                            <i class="fa fa-pencil-square-o edit-filter filter-list-action-btn" title="Edit Filter" data-index="{{@index}}"></i>
                        </div>
                    </div>
                <div class="filter">
                    {{#if this.searchResult.result.metadata.columnmeta_name}}
                        <p class="var-name">{{this.searchResult.result.metadata.columnmeta_name}}</p>
                    {{/if}}
                    <p>{{this.searchResult.result.metadata.columnmeta_var_id}}</p>
                    <p>{{this.searchResult.result.metadata.description}}</p>
                    <p class="value">Value: {{getFilterTypeDescription this}}</p>
                    <p class="study">Study: {{this.searchResult.result.metadata.columnmeta_study_id}}</p>
                    {{#if topmed }}
                        {{#if this.searchResult.result.metadata.columnmeta_var_group_description}}
                            <p class="table">Table Name: {{this.searchResult.result.metadata.columnmeta_var_group_description}}</p>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        {{/if}}
    {{/each}}
    </div>
</div>