<style>
    .focused-filter-container {
    border-top: 1px solid;
        border-width:4px !important;
        border-color:red !important;
    }
    .filter-container {
        border:solid;
        border-width:1px;
        margin:.5em;
        border-radius:.5em;
    }
    .filter-list-action-btn {
        font-size: 1.5em;
    }
</style>
<div id="filter-list" tabindex=0 aria-activedescendent="">
{{#each activeFilters}}
    <div class="filter-container" id="{{this.searchResult.result.metadata.varId}}">
        <i class="fa fa-times-circle remove-filter filter-list-action-btn" data-index="{{@index}}"></i>
        <i class="fa fa-pencil-square-o edit-filter filter-list-action-btn" data-index="{{@index}}"></i>
        <div class="filter">
        <p>{{this.searchResult.result.metadata.varId}}</p>
        <p>{{this.searchResult.result.metadata.description}}</p>
        </div>
        <p class="value">Value: {{getFilterTypeDescription this}}</p>
        <p class="study">Study: {{this.searchResult.result.metadata.study_id}}</p>
    </div>
{{/each}}
</div>