<div><span>Gene_With_Variant: </span>{{filters.genes}}</div>
<div><span>Variant_Consequence: </span>{{filters.consequences}}</div>
<div><span>Variant_Severity: </span>{{filters.severity}}</div>
<div><span>Variant_Class: </span>{{filters.variantClass}}</div>
<div><span>Variant_Frequency_As_Text: </span>{{filters.variantFrequencyText}}</div>
<div><span>Variant_Frequency: </span>{{filters.variantFrequencyNumber}}</div>
