<div><span>Gene with variant: </span>{{filters.categoryVariantInfoFilters.Gene_with_variant}}</div>
<div><span>Calculated variant consequence: </span>{{filters.categoryVariantInfoFilters.Variant_consequence_calculated}}</div>
<div><span>Variant severity: </span>{{filters.categoryVariantInfoFilters.Variant_severity}}</div>
<div><span>Variant class: </span>{{filters.categoryVariantInfoFilters.Variant_class}}</div>
<div><span>Variant frequency as text: </span>{{filters.categoryVariantInfoFilters.Variant_frequency_as_text}}</div>
{{!-- <div><span>Variant_Frequency: </span>{{filters.variantFrequencyNumber}}</div> --}}
