<div><span>Filter: </span>Genomic Filter</div>
<div><span>Gene_With_Variant: </span>{{filters.categoryVariantInfoFilters.Gene_with_variant}}</div>
<div><span>Variant_consequence_calculated: </span>{{filters.categoryVariantInfoFilters.Variant_consequence_calculated}}</div>
<div><span>Variant_Severity: </span>{{filters.categoryVariantInfoFilters.Variant_severity}}</div>
<div><span>Variant_Class: </span>{{filters.categoryVariantInfoFilters.Variant_class}}</div>
<div><span>Variant_Frequency_As_Text: </span>{{filters.categoryVariantInfoFilters.Variant_frequency_as_text}}</div>
{{!-- <div><span>Variant_Frequency: </span>{{filters.variantFrequencyNumber}}</div> --}}
