<div class="filter-modal-container">
    <div class="row">
        <div class="flex-container space-out">
            <ul class="var-info">
                <li>Study Name: {{studyName}} ({{searchResult.result.metadata.columnmeta_study_id}})</li>
                <li>Variable Name: {{searchResult.result.metadata.columnmeta_name}}</li>
                <li>Variable Accession: {{searchResult.result.metadata.columnmeta_var_id}}</li>
                <li>Variable Description: {{searchResult.result.metadata.columnmeta_description}}</li>
            </ul>
            <div class="button-container">
                {{#if this.data.filter}}
                <button id="add-filter-button" class="btn btn-primary" tabindex="1000002">Add Filter to Query</button>
                {{else}}
                <button id="add-filter-button" class="btn btn-primary" tabindex="1000002" disabled='true'>Add Filter to Query</button>
                {{/if}}
            </div>
        </div>

        {{> numerical-filter-partial min=min max=max}}

    </div>
</div>
