{{#if results}}
<span class='row'>{{variableCount}} variables match your search</span>
{{#each results}}
  <div class='search-result row' data-data-table-id="{{this.table_id}}" data-variable-id="{{this.variable_id}}" data-result-index="{{this.result_index}}">
  	<span class='col' data-data-table-id="{{this.table_id}}" data-variable-id="{{this.variable_id}}" data-result-index="{{this.result_index}}">{{this.abbreviation}}<br>{{this.study_id}} </span>
  	<span class='col' data-data-table-id="{{this.table_id}}" data-variable-id="{{this.variable_id}}" data-result-index="{{this.result_index}}">[{{this.name}}] {{this.description}} </span>
  	<span class='search-result-icons col'>
  		<i data-data-table-id="{{this.table_id}}" data-variable-id="{{this.variable_id}}" data-result-index="{{this.result_index}}" class="fa fa-filter search-result-action-btn"></i>
  		<i class="fa fa-database search-result-action-btn"></i>
  	</span>
  </div>
{{/each}}
<div class='search-result-pages row'>
	{{#each pages}}
		<span id='page-link-{{pageNumber}}' class='page-link' data-page='{{pageNumber}}'><a {{#if isActive}}class="disabled"{{/if}} id='page-{{pageNumber}}'>{{pageNumber}}</a></span>
	{{/each}}
</div>
{{/if}}