<style>
	.hover-control {
		pointer-events:none;
		text-align: center; padding: 0em 0.3em;
		border-radius:.5em;
		display:none;
		background:white;
	}
	.tag-badge {
		background:#e3eefd;
		color:black;
		border:solid;
		border-width:2px;
		margin:3px;
	}
	.study-badge {
		background:#b1d6ef;
		color:black;
		border:solid;
		border-width:2px;
		margin:3px;
	}
	.require-tag-btn {
		color:green;
	}
	.exclude-tag-btn {
		color:red;
	}
	.remove-tag-btn {
		color:red;
	}
	.section-label {
	
	}
	.section {
		background:white;
		border:solid;
		border-radius:1em;
	}
</style>
{{#if hasActiveTags}}
	<div class='section'>
		{{#if hasRequiredTags}}
			<div class='row'><span>Required Tags:</span>
				{{#each requiredTags}}
					<div class="badge {{colorClass this.tag}}">
						<span class="required-tag" id="tag-{{this.tag}}"> {{aliasIfStudy this.tag}} 
							<span data-tag="{{this.tag}}" data-action="removeRequiredTag" class="remove-tag-btn hover-control">X</span>
						</span>
					</div>
				{{/each}}
			</div>
		{{/if}}
		{{#if hasExcludedTags}}
			<div class='row'><span>Excluded Tags:</span>
				{{#each excludedTags}}
					<div class="badge {{colorClass this.tag}}">
						<span class="excluded-tag" id="tag-{{this.tag}}"> {{aliasIfStudy this.tag}} 
							<span data-tag="{{this.tag}}" data-action="removeExcludedTag" class="remove-tag-btn hover-control">X</span>
						</span>
					</div>
				{{/each}}
			</div>
		{{/if}}
	</div>
{{/if}}
<div class='section'>
	<div class='row section-label'>Refine results using tag based filters:</div>
	<div class='row'>
		{{#each tags}}
			<div class="badge {{colorClass this.tag}}">
				<span id="tag-{{this.tag}}"> {{this.tag}} 
					<span data-tag="{{this.tag}}" data-action="requireTag" class="require-tag-btn hover-control">+</span> 
					<span data-tag="{{this.tag}}" data-action="excludeTag" class="exclude-tag-btn hover-control">-</span>
				</span>
			</div>
		{{/each}}
	</div>
</div>
<div class='section'>
	<div class='row'>Refine results using study based filters:</div>
	<div class='row'>
		{{#each studyTags}}
			<div class="badge {{colorClass this.tag}}">
				<span id="tag-{{this.tag}}"> {{aliasIfStudy this.tag}} 
					<span data-tag="{{this.tag}}" data-action="requireTag" class="require-tag-btn hover-control">+</span> 
					<span data-tag="{{this.tag}}" data-action="excludeTag" class="exclude-tag-btn hover-control">-</span>
				</span>
			</div>
		{{/each}}
	</div>
</div>