<div class="image-container">
    <img aria-label="{{description}}" title="{{description}}" src="data:image/png;base64, {{image}}" />
    <a id="{{@index}}-download-button" data-index="{{@index}}" class="fa fa-download btn download-button" title="Download Image" download="{{title}}.png" href="data:image/png;base64, {{image}}"></a>
</div>