<div class="center-panel">
    <div class="panel panel-outline explor-panel">
        <div class="panel-heading no-border center-panel">
            <div class="side-border heading-space">
                <div>
                    <h4>Authorized Access</h4>
                    <button type="button" data-href="/picsureui/queryBuilder" aria-label="Explore Authorized Access"
                        {{#if authorizedAccess}}class="btn btn-primary btn-blue clickable-button"{{/if}}
                        {{#unless authorizedAccess}}class="btn btn-primary btn-grey"{{/unless}}
                        {{#unless authorizedAccess}}disabled="disabled"{{/unless}}>
                        Explore Now
                    </button>
                </div>
                <div>
                    <h4 class="">{{auth_studies_cnt}} Studies</h4>
                    <h5 class="" id="authorized-participants"></h5>
                    <div id="authorized-participants-spinner"></div>
                </div>
            </div>
            <div class="heading-space">
                <div>
                    <h4>Open Access</h4>
                    <button type="button" class="btn btn-primary btn-blue clickable-button" data-href="/picsureui/openAccess" aria-label="Explore Open Access">Explore Now</button>
                </div>
                <div>
                    <h4 id="open-studies-count" class=""></h4>
                    <h5 id="open-participants" class=""></h5>
                    <div id="open-participants-spinner"></div>
                </div>
            </div>
        </div>
        <div class="panel-body" style="display: flex;">
            <div class="body-space side-border">
                <ul class="plain-list">
                    <li>
                        <i class="fa fa-id-card-o" aria-hidden="true"></i>
                        <span>Authorized Phenotypic and Genomic Datasets</span>
                    </li>
                    <li>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>Aggregate Counts</span>
                    </li>
                    <li>
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        <span>Participant-level Data</span>
                    </li>
                    <li>
                        <i class="fa fa-pie-chart" aria-hidden="true"></i>
                        <span>Visualizations</span>
                    </li>
                    <li>
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                        <span>R and Python API Access</span>
                    </li>
                </ul>
            </div>
            <div class="body-space">
                <ul class="plain-list">
                    <li>
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        <span>No Authorization Required</span>
                    </li>
                    <li>
                        <i class="fa fa-id-card-o" aria-hidden="true"></i>
                        <span>All Phenotypic Datasets Available in PIC-SURE</span>
                    </li>
                    <li>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>Aggregate Counts Only</span>
                    </li>
                    <li>
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                        <span>R and Python API Access</span>
                    </li>
                </ul>
            </div>
        </div>  
    </div>
</div>



<div id="studies-access">
    <div>
        <div class="space-out">
            <div>
                <h2 class="studies-title">Data Access Table</h2>
                <h4 class="studies-sub-title">View all studies and associated information available in PIC-SURE separated by consent group. Check personalized authorization for available studies in the "Access" column.</h4>
            </div>
            <div class="freeze-message">
                <div>{{freeze_msg}}</div>
                <div>P = Phenotype, G = Genomic, P/G = Phenotype/Genomic, n/a = Not Applicable</div>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Identifier</th>
                <th>Code</th>
                <th>Data Type</th>
                <th>Name</th>
                <th>Consents</th>
                <th>Clinical Variables</th>
                <th>Participants with Phenotypes</th>
                <th>Samples Sequenced</th>
                <th>Version</th>
                <th>Participant Number</th>
                <th>Access</th>
            </tr>
            </thead>
            <tbody>
            {{#each permitted}}
                <tr>
                    <td>{{study_identifier}}</td>
                    <td>{{abbreviated_name}}</td>
                    <td>{{data_type}}</td>
                    <td>{{full_study_name}}</td>
                    <td>{{consent_group_name}}</td>
                    <td>{{valueOrNA clinical_variable_count}}</td>
                    <td>{{valueOrNA clinical_sample_size}}</td>
                    <td>{{valueOrNA genetic_sample_size}}</td>
                    <td>{{study_version}}</td>
                    <td>{{study_phase}}</td>
                    <td><span class="btn btn-default disabled">Granted</span></td>
                </tr>
            {{/each}}
            {{#each denied}}
                <tr>
                    <td>{{study_identifier}}</td>
                    <td>{{abbreviated_name}}</td>
                    <td>{{data_type}}</td>
                    <td>{{full_study_name}}</td>
                    <td>{{consent_group_name}}</td>
                    <td>{{valueOrNA clinical_variable_count}}</td>
                    <td>{{valueOrNA clinical_sample_size}}</td>
                    <td>{{valueOrNA genetic_sample_size}}</td>
                    <td>{{study_version}}</td>
                    <td>{{study_phase}}</td>
                    <td>
                        <a href="{{request_access}}" target="_blank" title='Clicking here will take you to the given link in another tab'>
                            <span class="btn btn-primary btn-blue" aria-label="Request access to {{full_study_name}}. This link will open in a new browser tab.">Request</span>
                        </a>
                    </td>
                </tr>
            {{/each}}
            <tr>
                <td colspan="11" style="background-color: #fff;" align="right"><div class="btn-group" role="group" style="position: relative;">
                    <button type="button" class="btn btn-default btn-lg study-lst-btn1 study-lst-btn-no-hov" tabindex="-1">Studies with data unavailable (withdrawn or no consents)</button>
                    <button type="button" class="btn btn-default btn-lg study-lst-btn2"><span id="no-consent-toggle" class="glyphicon glyphicon-chevron-down"></span></button>
                </div></td>
            </tr>
            {{#each na}}
                <tr class="no-consent-row" style="display:none;">
                    <td>{{study_identifier}}</td>
                    <td>{{abbreviated_name}}</td>
                    <td>{{data_type}}</td>
                    <td>{{full_study_name}}</td>
                    <td>{{consent_group_name}}</td>
                    <td>{{valueOrNA clinical_variable_count}}</td>
                    <td>{{valueOrNA clinical_sample_size}}</td>
                    <td>{{valueOrNA genetic_sample_size}}</td>
                    <td>{{study_version}}</td>
                    <td>{{study_phase}}</td>
                    <td>
                        <span class="btn btn-default disabled">N/A</span>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
