<style>
    #modalDialog {
        background-color: rgba(0,0,0,0.4)
    }

    .modal-body table thead tr th,
    .modal-body table tbody tr td:nth-child(2),
    .modal-body table tbody tr td:nth-child(5),
    .modal-body table tbody tr td:nth-child(6),
    .modal-body table tbody tr td:nth-child(7),
    .modal-body table tbody tr td:nth-child(8),
    .modal-body table tbody tr td:nth-child(9),
    .modal-body table tbody tr td:nth-child(10),
    .modal-body table tbody tr td:nth-child(11) {
        text-align: center;
    }

    .modal-body table thead tr th:nth-child(3) {
        text-align: left;
    }

    .modal-body table thead tr th:nth-child(5),
    .modal-body table thead tr th:nth-child(6),
    .modal-body table thead tr th:nth-child(7),
    .modal-body table thead tr th:nth-child(8),
    .modal-body table tbody tr td:nth-child(10) {
        width: 1%;
    }

    #modalDialog .modal-dialog {
        width: 95%;
    }

    .modal-body {
        overflow-y: scroll;
        height:75% !important;
    }

    #modalDialog span.btn {
        width: 100px;
    }

    div.modal-body table th {
        position: -webkit-sticky;
        position: sticky;
        top: -15px;
        z-index: 2;
        background-color: white;
    }

</style>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Identifier</th>
            <th>Code</th>
            <th>Name</th>
            <th>Consents</th>
            <th>Clinical Variables</th>
            <th>Participants with Phenotypes</th>
            <th>Samples Sequenced</th>
            <th>Imaging Data Available</th>
            <th>Version</th>
            <th>Participant Number</th>
            <th>Access</th>
        </tr>
    </thead>
    <tbody>
    {{#each permitted}}
        <tr>
            <td>{{study_identifier}}</td>
            <td>{{abbreviated_name}}</td>
            <td>{{full_study_name}}</td>
            <td>{{consent_group_name}}</td>
            <td>{{clinical_variable_count}}</td>
            <td>{{clinical_sample_size}}</td>
            <td>{{genetic_sample_size}}</td>
            <td></td>
            <td>{{study_version}}</td>
            <td>{{study_phase}}</td>
            <td><span class="btn btn-default disabled">Granted</span></td>
        </tr>
    {{/each}}
    {{#each denied}}
        <tr>
            <td>{{study_identifier}}</td>
            <td>{{abbreviated_name}}</td>
            <td>{{full_study_name}}</td>
            <td>{{consent_group_name}}</td>
            <td>{{clinical_variable_count}}</td>
            <td>{{clinical_sample_size}}</td>
            <td>{{genetic_sample_size}}</td>
            <td></td>
            <td>{{study_version}}</td>
            <td>{{study_phase}}</td>
            <td>
                <a href="{{request_access}}" target="_blank">
                    <span class="btn btn-primary">Request</span>
                </a>
            </td>
        </tr>
    {{/each}}
    {{#each na}}
        <tr>
            <td>{{study_identifier}}</td>
            <td>{{abbreviated_name}}</td>
            <td>{{full_study_name}}</td>
            <td>{{consent_group_name}}</td>
            <td>{{clinical_variable_count}}</td>
            <td>{{clinical_sample_size}}</td>
            <td>{{genetic_sample_size}}</td>
            <td></td>
            <td>{{study_version}}</td>
            <td>{{study_phase}}</td>
            <td>
                <span class="btn btn-default disabled">N/A</span>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
