<style>
    #infgfx {
        background: #fff;
        border-radius: 8px;
        border: #aaa 1px solid;
        padding: 20px;
        position: relative;
    }

    #infgfx-line {
        float: left;
        border: 1px solid #777;
        position: absolute;
        left: 50%;
        top: 15%;
        height: 70%;
    }

    .gfx-title button {
        width: 140px;
    }

    .gfx-cohorts, .gfx-participants {
        font-size: 1.8em;
        font-weight: bold;
    }

    .gfx-authorization {
        margin-top: 50px;
    }

    .infgfx-content {
        width: 80%;
        margin: 40px auto;
        position: relative;
        text-align: center;
    }

    .infgfx-content > div {
        font-size: 1.5em;
    }

    .infgfx-content > div > img {
        width: 60px;
        height: 60px;
    }

    .gfx-title {
        margin: auto;
        width: 58%;
        margin-bottom: 50px;
        margin-right: 12%;
    }

    .gfx-title > div {
        float: left;
        width: 70%;
        text-align: center;
    }

    .gfx-title > div > div {
        font-size: 25px;
        margin: auto;
        width: 100%;
        font-weight: bolder;
    }

    .gfx-title > img {
        float: right;
        height: 80px !important;
        width: 80px !important;
    }

    .gfx-datalevel > img {
        padding: 10px 0px;
        margin: 0px -15px;
    }

</style>


<style>
    #studies-access {
        margin-top: 30px;
        width:100%;
        border: 1px solid #aaa;
        border-radius: 8px;
        padding: 8px 0px;
        background: #fff;
    }

    #studies-access > div {
        margin: 10px 0px;
    }

    #studies-access > div > div {
        margin: 5px 20px
    }

    #studies-access table {
        border-collapse: separate;
        border-spacing: 0;
    }

    #studies-access table th {
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 2;
        background-color: white;
        border-bottom: 1px solid #aaa;
    }

    #studies-access table thead tr th,
    #studies-access table tbody tr td:nth-child(2),
    #studies-access table tbody tr td:nth-child(3),
    #studies-access table tbody tr td:nth-child(6),
    #studies-access table tbody tr td:nth-child(7),
    #studies-access table tbody tr td:nth-child(8),
    #studies-access table tbody tr td:nth-child(9),
    #studies-access table tbody tr td:nth-child(10),
    #studies-access table tbody tr td:nth-child(11) {
        text-align: center;
    }

    #studies-access table thead tr th:nth-child(4) {
        text-align: left;
    }

    #studies-access table thead tr th:nth-child(3),
    #studies-access table thead tr th:nth-child(5),
    #studies-access table thead tr th:nth-child(6),
    #studies-access table thead tr th:nth-child(7),
    #studies-access table thead tr th:nth-child(8),
    #studies-access table tbody tr td:nth-child(10) {
        width: 1%;
    }

    #studies-access span.btn {
        width: 90px;
    }

    .btn-blue {
        background-color: #1a568c;
    }

    .study-lst-btn1, .study-lst-btn2 {
        height: 2.5em;
        background: #f4f4f6;
        color: #000;
    }
    .study-lst-btn-no-hov:hover {
        color: #000;
        background-color: #fff;
    }

    .study-lst-btn2:hover {
        background-color: #76a6de;
    }

</style>




<div id="infgfx" class="clearfix">
    <div id="infgfx-line"></div>
    <span class="col-md-6">
		<div class="infgfx-content">
			<div class="gfx-title clearfix" style="margin-right:0px;width:100%">
				<div style="width:100%;font-size:25px;font-weight:bold">Authorized Access</div>
				<button type="button" class="btn btn-primary btn-blue">Explore Now</button>
			</div>
			<div class="gfx-cohorts">{{auth_studies_cnt}} Studies</div>
			<div class="gfx-participants">{{auth_participants_cnt}} participants</div>
			<div class="gfx-authorization">
				<img src="studyAccess/icons/authorized-protected.svg" />
				dbGap Approval Required
			</div>
			<div class="gfx-datatype">
				<img src="studyAccess/icons/med-record.svg" style="height:100px;width:100px;margin:-20px;position:relative;top:3px"/>
				<img src="studyAccess/icons/dna.svg" style="height:46px;width:46px;margin:0px 0px 0px -18px;transform:rotate(-45deg)" />
				Authorized Phenotypic and Genomic Datasets
			</div>
			<div class="gfx-datalevel">
				<img src="studyAccess/icons/users.svg" style="padding:0px; margin:0px 10px;"/>
				Aggregate Counts
			</div>
			<div class="gfx-datalevel">
				<img src="studyAccess/icons/user.svg" />
				<img src="studyAccess/icons/user.svg" />
				<img src="studyAccess/icons/user.svg" style="margin-right: 0px"/>
				Patient Level Data
			</div>
			<div class="gfx-downloads">
				<img src="studyAccess/icons/download.svg" style="padding:8px" />
				Download Authorized Datasets
			</div>
			<div class="gfx-api">
				<img src="studyAccess/icons/api-access.svg" style="padding:8px"/>
				R and Python API Access
			</div>
		</div>
	</span>
    <span class="col-md-6">
		<div class="infgfx-content">
			<div class="gfx-title clearfix" style="margin-right:0px;width:100%">
				<div style="width:100%;font-size:25px;font-weight:bold;">Open Access</div>
				<button type="button" class="btn btn-default active" tabindex="-1" style="cursor:no-drop">Coming Soon</button>
			</div>
			<div class="gfx-cohorts">{{open_studies_cnt}} Studies</div>
			<div class="gfx-participants">{{open_participants_cnt}} participants</div>
			<div class="gfx-authorization">
				<img src="studyAccess/icons/authorized-open.svg" style="padding:10px;" />
				No Authorization Required
			</div>
			<div class="gfx-datatype">
				<img src="studyAccess/icons/med-record.svg" style="height:100px;width:100px;margin:-20px -4px -20px 0px;position:relative;top:3px;"/>
				All Phenotypic Datasets Available in PIC-SURE
			</div>
			<div class="gfx-datalevel">
				<img src="studyAccess/icons/users.svg" style="padding:0px; margin:0px 10px;"/>
				Aggregate Counts Only
			</div>
		</div>
	</span>
</div>



<div id="studies-access">
    <div>
        <div>{{freeze_msg}}</div>
        <div>P = Phenotype, G = Genomic, P/G = Phenotype/Genomic</div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Identifier</th>
                <th>Code</th>
                <th>Data Type</th>
                <th>Name</th>
                <th>Consents</th>
                <th>Clinical Variables</th>
                <th>Participants with Phenotypes</th>
                <th>Genotype Samples</th>
                <th>Version</th>
                <th>Participant Number</th>
                <th>Access</th>
            </tr>
            </thead>
            <tbody>
            {{#each permitted}}
                <tr>
                    <td>{{study_identifier}}</td>
                    <td>{{abbreviated_name}}</td>
                    <td>{{data_type}}</td>
                    <td>{{full_study_name}}</td>
                    <td>{{consent_group_name}}</td>
                    <td>{{clinical_variable_count}}</td>
                    <td>{{clinical_sample_size}}</td>
                    <td>{{genetic_sample_size}}</td>
                    <td>{{study_version}}</td>
                    <td>{{study_phase}}</td>
                    <td><span class="btn btn-default disabled">Granted</span></td>
                </tr>
            {{/each}}
            {{#each denied}}
                <tr>
                    <td>{{study_identifier}}</td>
                    <td>{{abbreviated_name}}</td>
                    <td>{{data_type}}</td>
                    <td>{{full_study_name}}</td>
                    <td>{{consent_group_name}}</td>
                    <td>{{clinical_variable_count}}</td>
                    <td>{{clinical_sample_size}}</td>
                    <td>{{genetic_sample_size}}</td>
                    <td>{{study_version}}</td>
                    <td>{{study_phase}}</td>
                    <td>
                        <a href="{{request_access}}" target="_blank">
                            <span class="btn btn-primary btn-blue">Request</span>
                        </a>
                    </td>
                </tr>
            {{/each}}
            <tr>
                <td colspan="11" style="background-color: #fff;" align="right"><div class="btn-group" role="group" style="position: relative;">
                    <button type="button" class="btn btn-default btn-lg study-lst-btn1 study-lst-btn-no-hov" tabindex="-1">Studies with data unavailable (withdrawn or no consents)</button>
                    <button type="button" class="btn btn-default btn-lg study-lst-btn2"><span id="no-consent-toggle" class="glyphicon glyphicon-chevron-down"></span></button>
                </div></td>
            </tr>
            {{#each na}}
                <tr class="no-consent-row" style="display:none;">
                    <td>{{study_identifier}}</td>
                    <td>{{abbreviated_name}}</td>
                    <td>{{data_type}}</td>
                    <td>{{full_study_name}}</td>
                    <td>{{consent_group_name}}</td>
                    <td>{{clinical_variable_count}}</td>
                    <td>{{clinical_sample_size}}</td>
                    <td>{{genetic_sample_size}}</td>
                    <td>{{study_version}}</td>
                    <td>{{study_phase}}</td>
                    <td>
                        <span class="btn btn-default disabled">N/A</span>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
