<style>
  #studies-list {
    width:90%;
    margin:auto;
    margin-bottom:-16px
  }
  #studies-list div div span.glyphicon {
    margin: 4px 8px 4px 4px;
    cursor: pointer;
  }
  #studies-list div div ul {
    margin: 0px 4px;
    padding-bottom: 6px;
    list-style-type: none;
    margin-left: -11px;
  }  
  #studies-list li span {
    cursor: pointer;
  }
  #studies-list li {
    line-height: 22px;
  }

  li span.study-count {
    margin-right: 90px;
  }

  #studies-list .study-count {
    float: right;
    line-height: 22px;
    padding-right: 10px;
  }

  #studies-list .request-access:hover {
      background: #777 !important;
  }

  #studies-list .explore-access {
      background-color: #fff;
      color: #000;
      border: 1px solid #777;
  }

  #studies-list .request-access {
      background-color: #1a568c;
      border: 1px solid #000;
  }

  #studies-list .explore-access,
  #studies-list .request-access {
      float: right;
      padding: 4px;
      cursor: pointer;
      margin: 2px;
      width: 9em;
  }

  #studies-list .study-shown {
    background-color: #eaeaea;
    border: 1px solid #d5d5d5;
  }

  #studies-list .study-shown .consent-list {
    background-color: #ffffff !important;
    display: block !important;
    border-radius: 0px 0px 4px 4px;
    margin-top: 2px;
  }

  #studies-list > div {
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid rgb(223, 238, 255);
    border-radius: 4px;
    cursor: default;
  }

  #studies-list > div > div {
    margin-left: 0px;
    margin-right: 0px;
  }

    .total-patients-count {
        font-size: 5em;
    }
    .total-patients-suffix {
        font-size: 2.5em;
    }
    #patient-count {
        margin-bottom: 10px;
    }
    .total-participants-label {
        margin-bottom: 10px;
    }

</style>
<div>
<div id="patient-count-box" class="panel panel-default">
	<div class="center large" id="spinner-total">{{#if spinning}}{{> spinner spinnerClasses}}{{/if}}</div>
	<div id="patient-count" class="blue center">
        {{#if queryRan}}
            <span class="total-patients-count">{{totalPatients}}</span>
            <span class="total-patients-suffix">{{totalPatientsSuffix}}</span>
        {{/if}}
    </div>
	<div class="center medium total-participants-label">Total Participants</div>
	<div class="container" id="pic-sure-instances">
		<div id="select-spinner"></div>
	</div>
	<div id="studies-list">

{{#each studies}}
    <div class="row">
        <div title="{{name}}" class="row">
          <span class="glyphicon glyphicon-chevron-down study-glyph col"></span>
          <span class="consent-grouping col"
            tabindex="0"
            role="button"
            aria-expanded="true"
            aria-pressed="true"
            aria-label="{{name}} with {{study_matches}} participants. Use enter key to collapse or expand"
          >{{code}}</span>
            {{#if hasPermission}}
                <div aria-label="Explore the study" class="explore-access label label-primary col" tabindex="0" role="button" aria-pressed="false" data-study="{{identifier}}">Granted</div>
            {{else}}
                <div aria-label="Request access to study" class="request-access label label-primary col" tabindex="0" role="button" aria-pressed="false" data-href="{{request_access}}">Request Access</div>
            {{/if}}
            <span class="study-count col">{{study_matches}} participants</span>
        </div>
        <div style="display:none" class="consent-list row">
          <ul>
  {{#each consents}}
            <li title="{{consent_group_name}}">
              <span tabindex="0" aria-label="{{consent_group_name}} with {{study_matches}} participants">{{short_title}}</span>
              <span class="study-count">{{study_matches}} participants</span>
            </li>
  {{/each}}
          </ul>
        </div>
    </div>
{{/each}}










	</div>
</div>
</div>
