<style>
    #studies-list div div span.glyphicon {
        margin: 4px 8px 4px 4px;
        cursor: pointer;
    }

    #studies-list div div ul {
        margin: 0px 4px;
        margin-left: -11px;
        padding-left: 10px;
        padding-bottom: 6px;
        list-style-type: none;
    }

    #studies-list li span {
        cursor: pointer;
    }

    #studies-list li {
        line-height: 22px;
    }

    #studies-list .study-count {
        float: right;
        line-height: 22px;
    }

    #studies-list .request-access:hover {
        background: #777 !important;
    }

    #studies-list .explore-access {
        background-color: #fff;
        color: #000;
        border: 1px solid #777;
    }

    #studies-list .request-access {
        background-color: #1a568c;
        border: 1px solid #000;
    }

    #studies-list .explore-access,
    #studies-list .request-access {
        float: right;
        padding: 4px;
        cursor: pointer;
        margin: 2px;
        width: 9em;
    }

    #studies-list .study-shown {
        background-color: #eaeaea;
        border: 1px solid #d5d5d5;
    }

    #studies-list .study-shown .consent-list {
        background-color: #ffffff !important;
        display: block !important;
        border-radius: 0px 0px 4px 4px;
        margin-top: 2px;
    }

    #studies-list>div>div {
        margin-left: 0px;
        margin-right: 0px;
    }
    #studies-list hr{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .selected {
        border: 2px solid red;
    }
    .consent-grouping {
        font-weight: 700;
    }
</style>
<div id="studies-list" class="panel">
    <div class="space-out panel-heading">
        <span>Filtered Results by Study</span>
        <a id="studies-help" class="btn no-padding" title="Studies Help" aria-label="Studies Help" tabindex="0" >More Details</a>
    </div>
    <div class="panel-body" tabindex="0">
        {{#each studies}}
        <div class="study-container">
            <div title="{{name}}">
                {{!-- <span class="glyphicon glyphicon-chevron-down study-glyph col"></span> --}}
                <span class="consent-grouping col" aria-expanded="true" aria-pressed="true"
                    aria-label="{{name}} with {{study_matches}} participants. Use enter key to collapse or expand">{{display_name}}</span>
                {{#if hasPermission}}
                <div aria-label="Explore the study" class="explore-access label label-primary col"
                    role="button" aria-pressed="false" data-study="{{identifier}}">Granted</div>
                {{else}}
                <div aria-label="Request access to study" class="request-access label label-primary col"
                    role="button" aria-pressed="false" data-href="{{request_access}}">Request Access</div>
                {{/if}}
                <br />
                <span class="col">{{study_matches}} total participants</span>
            </div>
            <div style="" class="consent-list row">
                <ul>
                    {{#each consents}}
                    <li title="{{consent_group_name}}">
                        <span
                            aria-label="{{consent_group_name}} with {{study_matches}} participants">{{short_title}}</span>
                            {{#if study_matches}}
                        <span class="study-count">{{study_matches}} participants</span>
                        {{/if}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <hr />
        {{/each}}
        <div id="studies-spinner"></div>
    </div>
</div>